.tela-de-acesso-ASPE {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .tela-de-acesso-ASPE .div {
    background-color: #ffffff;
    width: 1296px;
    height: 664px;
    position: relative;
  }
  
  .tela-de-acesso-ASPE .primeiro-acesso {
    position: absolute;
    width: 694px;
    height: 303px;
    top: 138px;
    left: 510px;
  }
  
  .tela-de-acesso-ASPE .primeiro-acesso-2 {
    position: relative;
    height: 303px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #22242626;
    box-shadow: 0px 1px 2px #22242626;
  }
  
  .tela-de-acesso-ASPE .rectangle {
    position: absolute;
    width: 664px;
    height: 1px;
    top: 205px;
    left: 14px;
    background-color: #22242626;
  }
  
  .tela-de-acesso-ASPE .text-wrapper {
    position: absolute;
    width: 196px;
    top: 169px;
    left: 43px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-2 {
    position: absolute;
    width: 54px;
    top: 156px;
    left: 43px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #4183c4;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .tela-de-acesso-ASPE .avatar-servidor {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 158px;
    left: 24px;
    object-fit: cover;
  }
  
  .tela-de-acesso-ASPE .rectangle-2 {
    width: 664px;
    height: 1px;
    top: 147px;
    background-color: #22242626;
    position: absolute;
    left: 14px;
  }
  
  .tela-de-acesso-ASPE .p {
    position: absolute;
    width: 307px;
    top: 109px;
    left: 37px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000de;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-3 {
    position: absolute;
    width: 128px;
    top: 83px;
    left: 14px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000de;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23.px;
  }
  
  .tela-de-acesso-ASPE .overlap-group {
    position: absolute;
    width: 204px;
    height: 75px;
    top: 0;
    left: 0;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-4 {
    position: absolute;
    width: 139px;
    top: 23px;
    left: 65px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000de;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 36px;
  }
  
  .tela-de-acesso-ASPE .ifpe-logo {
    position: absolute;
    width: 74px;
    height: 75px;
    top: 0;
    left: 0;
  }
  
  .tela-de-acesso-ASPE .autenticao {
    position: absolute;
    width: 405px;
    height: 303px;
    top: 138px;
    left: 77px;
  }
  
  .tela-de-acesso-ASPE .overlap-group-wrapper {
    width: 415px;
    height: 303px;
  }
  
  .tela-de-acesso-ASPE .overlap-group-2 {
    position: relative;
    width: 405px;
    height: 303px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #22242626;
    box-shadow: 0px 1px 2px #22242626;
  }
  
  .tela-de-acesso-ASPE .overlap {
    position: absolute;
    width: 82px;
    height: 36px;
    top: 238px;
    left: 15px;
    background-color: #21ba45;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #22242626;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-5 {
    position: absolute;
    width: 40px;
    top: 9px;
    left: 21px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-6 {
    position: absolute;
    width: 127px;
    top: 203px;
    left: 14px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #4183c4;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .tela-de-acesso-ASPE .rectangle-3 {
    width: 375px;
    height: 38px;
    top: 151px;
    background-color: #e8f0fe;
    border-radius: 4px;
    border: 1px solid;
    border-color: #e5dfa1;
    box-shadow: 0px 0px 0px #fffff0;
    position: absolute;
    left: 14px;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-7 {
    position: absolute;
    width: 39px;
    top: 126px;
    left: 14px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000de;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .tela-de-acesso-ASPE .rectangle-4 {
    width: 375px;
    height: 38px;
    top: 75px;
    background-color: #e8f0fe;
    border-radius: 4px;
    border: 1px solid;
    border-color: #e5dfa1;
    box-shadow: 0px 0px 0px #fffff0;
    position: absolute;
    left: 14px;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-8 {
    position: absolute;
    width: 49px;
    top: 50px;
    left: 14px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000de;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-9 {
    position: absolute;
    width: 111px;
    top: 14px;
    left: 38px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000de;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 23.1px;
  }
  
  .tela-de-acesso-ASPE .layout-logo {
    position: absolute;
    width: 1127px;
    height: 95px;
    top: 31px;
    left: 77px;
  }
  
  .tela-de-acesso-ASPE .layout-logo-2 {
    position: relative;
    height: 95px;
  }
  
  .tela-de-acesso-ASPE .text-wrapper-10 {
    position: absolute;
    width: 417px;
    top: 15px;
    left: 249px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000de;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18.2px;
  }
  
  .tela-de-acesso-ASPE .logo-belo-jardim {
    position: absolute;
    width: 222px;
    height: 63px;
    top: 10px;
    left: 1px;
    object-fit: cover;
  }
  